.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./components/images/bg-img.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
